/* 自定义文章内容标题字体大小 */
.main-content h1 { font-size: 2.0rem; }
.main-content h2 { font-size: 1.6rem; }
.main-content h3 { font-size: 1.35rem; }
.main-content h4 { font-size: 1.15rem; }
.main-content h5 { font-size: 1.05rem; }
.main-content h6 { font-size: 0.95rem; }
